# Python - List Comprehension

## 1. List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

- Without list comprehension you will have to write a for statement with a conditional test inside

Example
- Only accept items that are not "apple":

### When to use
when we need to create new list based on a existing iterable and want to do it in a concise and readable way.

useful situations in list comprehention
- Filtering.
- Transformation
- Combination 
- Simplification

In [1]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist= []
for x in fruits:
    if x!= 'apple':
        newlist.append(x)
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

## 2. The Syntax
<b> $newlist = [expression for item in iterable if condition == True]  
- The return value is a new list, leaving the old list unchanged.

In [2]:
#with list comprehension    
fruits = ["apple", "BANANA", "cherry", "kiwi", "mango"]
newlist = [x.lower() for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [3]:
#with list comprehension    
fruits = ["apple", "BANANA", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['BANANA', 'cherry', 'kiwi', 'mango']

In [ ]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = []

for x in fruits:
    if "a" in x:
        list1.append(x)

print(list1)

In [4]:
#with list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = [x for x in fruits if "a" in x]
print(list1)

['apple', 'banana', 'mango']

## 3. Iterable
- The iterable can be any iterable object, like a list, tuple, set etc.

**Example**
- You can use the range() function to create an iterable:

In [6]:
list1 = [x for x in range(10)] # Index start(inclusive), end(exclusive), step 
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list1 = [x for x in range(1,11)] # Index start(inclusive), end(exclusive), step 
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##Same example, but with a condition:

**Example**
- Accept only numbers lower than 5:

In [7]:
list1 = [x for x in range(10) if x < 5]
print(list1)

[0, 1, 2, 3, 4]

## 4. Expression
- The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

**Example**
- Set the values in the new list to upper case:

In [8]:
print("Original List : ",fruits)
list1 = [x.upper() for x in fruits]
print("After Implementing List Comprehension : ",list1)

Original List :  ['apple', 'banana', 'cherry', 'kiwi', 'mango']
After Implementing List Comprehension :  ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

- Filtering:
Suppose you have a list of integers and you want to create a new list that contains only the even numbers from the original list. Here's how you can do it with list comprehension:

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers) # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In this example, we use the condition num % 2 == 0 to filter out only the even numbers from the original list numbers.

- Transformation:

Suppose you have a list of integers and you want to create a new list that contains the squares of each element in the original list. Here's how you can do it with list comprehension:

In [1]:
numbers = [1, 2, 3, 4, 5]
squares = [num**2 for num in range(1,20,4)]
print(squares) # Output: [1, 4, 9, 16, 25]

[1, 25, 81, 169, 289]

In this example, we use the expression num**2 to square each element in the original list numbers.

- Combination:

Suppose you have two lists, one containing the names of fruits and the other containing their corresponding prices. You want to create a new list of tuples that pairs each fruit name with its price. Here's how you can do it with list comprehension:

In [ ]:
"""

for item in iterable1:
    if
        for item2 in iterable2:
            if:
            else:
"""

In [11]:
fruits = ['apple', 'banana', 'cherry']
prices = [1.00, 0.50, 2.00]
fruit_prices = [(fruit, price) for fruit in fruits for price in prices]
print(fruit_prices) # Output: [('apple', 1.0), ('apple', 0.5), ('apple', 2.0), ('banana', 1.0), ('banana', 0.5), ('banana', 2.0), ('cherry', 1.0), ('cherry', 0.5), ('cherry', 2.0)]

[('apple', 1.0), ('apple', 0.5), ('apple', 2.0), ('banana', 1.0), ('banana', 0.5), ('banana', 2.0), ('cherry', 1.0), ('cherry', 0.5), ('cherry', 2.0)]

- Combination:

Suppose you have two lists, one containing the names of fruits and the other containing their corresponding prices.

You want to create a new list of tuples that pairs each fruit name with its price. Here's how you can do it with list comprehension:

In [2]:
fruits = ['apple', 'banana', 'cherry']
prices = [1.00, 0.50, 2.00]
fruit_prices = [(fruit, price) for fruit in fruits for price in prices]
print(fruit_prices) # Output: [('apple', 1.0), ('apple', 0.5), ('apple', 2.0), ('banana', 1.0), ('banana', 0.5), ('banana', 2.0), ('cherry', 1.0), ('cherry', 0.5), ('cherry', 2.0)]

[('apple', 1.0), ('apple', 0.5), ('apple', 2.0), ('banana', 1.0), ('banana', 0.5), ('banana', 2.0), ('cherry', 1.0), ('cherry', 0.5), ('cherry', 2.0)]

In this example, we use two for-loops to iterate over each element of fruits and prices and create a new list of tuples that pairs each fruit with each price.

- Simplification:

Suppose you have a list of strings and you want to create a new list of strings that contains only the first character of each string. Here's how you can do it with list comprehension:

In [3]:
strings = ['apple', 'banana', 'cherry']
first_chars = [string[0] for string in strings]
print(first_chars) # Output: ['a', 'b', 'c']

['a', 'b', 'c']

In this example, we use the expression string[0] to extract the first character of each string in the original list strings. This is a more concise and readable way to achieve the same result compared to using a for-loop and if-statement.

In [ ]:
"""
for i in 'sworna': -- Outer loop soon after expression
    for j in 'vidhya':  ---- as immediate to your outler loops (inner 1)
        for k in 'mahadevan': --- after your inner 1
        ........
"""

## For nested loops

##### using list comprehension for nested loops to create a new list that contains all possible pairs of two list

In [12]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
pairs = [(x, y) for x in list1 for y in list2]
print(pairs) # Output: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

#### using list comprehension for nested loops with an if-condition to create a new list that contains only the pairs where the sum of the two elements is even

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
[(x,y) for x in list1 for y in list2 if (x+y)%2 ==0]

[(1, 5), (2, 4), (2, 6), (3, 5)]

In [13]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
even_sum_pairs = [(x, y) for x in list1 for y in list2 if (x + y) % 2 == 0]
print(even_sum_pairs) # Output: [(1, 5), (2, 4), (2, 6), (3, 5)]

[(1, 5), (2, 4), (2, 6), (3, 5)]

## with nested loops and nested conditions

#### to create a new list that contains only the pairs where the sum of the two elements is even and the second element is a vowel:

In [14]:
list1 = [1, 2, 3]
list2 = ['a', 'e', 'i', 'o', 'u']
pairs = [(x, y) for x in list1 for y in list2 if (x + y) % 2 == 0 if y in ['a', 'e', 'i', 'o', 'u']]
print(pairs) # Output: [(1, 'a'), (1, 'e'), (2, 'a'), (2, 'o'), (2, 'u'), (3, 'e')]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In this example, we use two for-loops to iterate over each element of list1 and list2, and two if-conditions to filter out only the pairs where the sum of the two elements is even and the second element is a vowel. The resulting list pairs contains only the pairs (1, 'a'), (1, 'e'), (2, 'a'), (2, 'o'), (2, 'u'), and (3, 'e').

In [15]:
list1 = [1, 2, 3]
list2 = ['a', 'e', 'i', 'o', 'u']
pairs = [(x, y) for x in list1 for y in list2 if (int(str(x) + '0') + ord(y)) % 2 == 0 if y in ['a', 'e', 'i', 'o', 'u']]
print(pairs) # Output: [(1, 'a'), (1, 'e'), (2, 'a'), (2, 'o'), (2, 'u'), (3, 'e')]

[]

In [16]:
list1 = [1, 2, 3]
list2 = ['a', 'e', 'i', 'o', 'u']
pairs = [(x, y) for x in list1 for y in list2 if (x + ord(y)) % 2 == 0 if y in ['a', 'e', 'i', 'o', 'u']]
print(pairs)

[(1, 'a'), (1, 'e'), (1, 'i'), (1, 'o'), (1, 'u'), (3, 'a'), (3, 'e'), (3, 'i'), (3, 'o'), (3, 'u')]

In this corrected code, we use ord() function to get the ASCII value of the character y, and add it to x to create a new integer value that we can use in the expression (x + ord(y)) % 2 == 0. We also remove the unnecessary if condition after the second loop.

## 5. Few Excercies

In [ ]:
## creates a new list that contains only the even numbers from an existing list

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

## a. find the odd numbers from the numbers ranging from 1 to 100

In [5]:
nums = [i for i in range(1,101)]

In [7]:
odd = [x for x in nums if x%2!=0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## b. Find all of the numbers from 1–100 that have a 6 in them

In [8]:
[six for six in nums if "6" in str(six) ]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [ ]:
num = [num for num in nums if "6" in str(num)]
num

### c. Count the number of spaces in a string

In [10]:
string = "Python is a roadmap for Data Science"

In [11]:
len([space for space in string if space == " "])

6

In [ ]:
cnt = len([char for char in string if char == " "])
cnt

## d. Remove all of the vowels in a string

In [17]:
p = [vow for vow in string if vow not in ["a","e","i","o","u"]]
"".join(p)

'Pythn s  rdmp fr Dt Scnc'

In [16]:
"".join([vow for vow in string if vow not in ["a","e","i","o","u"]])

'Pythn s  rdmp fr Dt Scnc'

In [ ]:
new_string = "".join([char for char in string if char not in ["a","e","i","o","u"]])
new_string

## e. Find all of the words in a string that are less than 6 letters

In [19]:
words = string.split(" ")
new_list = [word for word in words if len(word) < 5]
new_list

['is', 'a', 'for', 'Data']

## f. Use a dictionary comprehension to count the length of each word in a sentence

In [20]:
new_dict = {word:len(word) for word in words}
new_dict

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

## g. Use a nested list comprehension to find all of the numbers from 1–100 that are divisible by any single digit besides 1,2,3 (2–9)

In [ ]:
[numb for numb in range(1,101) for val in range(4,10) if numb%val == 0]

In [2]:
new_list = [num for num in nums if True in [True for divisor in range(4,10) if num % divisor == 0]]
new_list

NameError: name 'nums' is not defined

## h. For all the numbers 1–25, use a nested list/dictionary comprehension to find the highest single digit any of the numbers is divisible by

In [26]:
new_dict = {num:max([divisor for divisor in range(1,10) if num % divisor == 0]) for num in nums[:25]}
new_dict

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 5,
 11: 1,
 12: 6,
 13: 1,
 14: 7,
 15: 5,
 16: 8,
 17: 1,
 18: 9,
 19: 1,
 20: 5,
 21: 7,
 22: 2,
 23: 1,
 24: 8,
 25: 5}

In [29]:
{numb:max(divisor for divisor in range(1,10) if numb%divisor ==0 ) for numb in range(1,26)}

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 5,
 11: 1,
 12: 6,
 13: 1,
 14: 7,
 15: 5,
 16: 8,
 17: 1,
 18: 9,
 19: 1,
 20: 5,
 21: 7,
 22: 2,
 23: 1,
 24: 8,
 25: 5}