## a. Creating empty tuple

In [1]:
#Method-1
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [2]:
#Method-2
tuple1 = tuple()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

- the parentheses can be omitted and the single value can be assigned directly to a variable, tuple1. 
- However, it is important to note that if you want to create a tuple with a single element and include parentheses, you need to add a comma after the element, like this: (2,)

In [3]:
# Method -3
tuple1 = 2,
print(tuple1)
print(type(tuple1))

(2,)
<class 'tuple'>

## b. Creating tuple with elements

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1)

- tuple() can take an iterable object as an argument and convert it into a new tuple.
    - This can be useful when you have an iterable object and need to convert it into a tuple for some purpose, such as passing it as an argument to a function that expects a tuple.

In [4]:
string = "hello"
tuple_from_string = tuple(string)
print(tuple_from_string)  # Output: ('h', 'e', 'l', 'l', 'o')

list1 = [1, 2, 3]
tuple_from_list = tuple(list1)
print(tuple_from_list)  # Output: (1, 2, 3)

tuple1 = (4, 5, 6)
tuple_from_tuple = tuple(tuple1)
print(tuple_from_tuple)  # Output: (4, 5, 6)

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
(4, 5, 6)

## c. Allow Duplicates

In [ ]:
tuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple1)

## d. Tuple Length
- To determine how many items a tuple has, use the len() function:

In [ ]:
#Print the number of items in the tuple
tuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print("Number of items in tuple1 is : ", len(tuple1))

## e. Create Tuple With One Item
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
#correct way of creating tuple wiht one element
tuple1 = ("apple",) #creating with comma(,)
print(tuple1)
print(type(tuple1))

In [ ]:
#Incorrect way - This will generate the string
tuple1 = ("apple") #creating without comma -> it will be treated as string
print(tuple1)
print(type(tuple1))

## f. Tuple Items - Data Types
- Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,"\n",tuple2,"\n",tuple3,"\n")

In [5]:
#A tuple with strings, integers and boolean values
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

# 2. Access Tuple Items

## a. Access Tuple Items
- You can access tuple items by referring to the index number, inside square brackets

In [6]:
#print the third item in the tuple
tuple1 = ("apple", "banana", "cherry", "papaya")
print(tuple1[2])

cherry

## b. Negative Indexing
- Negative indexing means start from the end.

In [ ]:
#print the last item in the tuple
tuple1 = ("apple", "banana", "cherry", "papaya")
print(tuple1[-1])

## c. Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
# Return the third, fourth, and fifth item
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[2:5])

In [ ]:
#starting default by 0th idenx
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[:4]) #4th index is not included tuple(start:stop:skip)

In [ ]:
#starting with a certain index and going till end
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[2:])

## d. Range of Negative Indexes
- Specify negative indexes if you want to start the search from the end of the tuple

In [2]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[-4:-1])

('orange', 'kiwi', 'melon')

## e. Check if Item Exists
- To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
if "apple" in tuple1:
    print("Yes, 'apple' is in the fruits tuple")

# 3. Update Tuples
- Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

## a. Change Tuple Values
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")

x[1] = "kiwi" #Error as tuples are immutable

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
print("Tuple : ",x)
y = list(x)
print("Tuple changed to list : ",y)
y[1] = "kiwi"
print("List updated with the new element : ",y)
x = tuple(y)
print("Updated List converted to tuple back :",x)

## b Add Items
- Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

### i.Convert into a list 
- Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

tupl1 = ("apple", "banana", "cherry")
print("Tuple created : ",tuple1)
y = list(tupl1)
print("Converted the tuple to list : ",y)
y.append("orange")
print("Appended the new element to the list : ",y)
tupl1 = tuple(y)
print("Converted List back to tuple : ",tupl1)

### ii.Add tuple to a tuple. 
- You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = ("orange",)
print("Tuple-1 : ",tuple1)
print("Tuple-2 : ",tuple2)
tuple1 += tuple2
print("Added tuple-1 and tuple-2 : ",tuple1)

Tuple-1 :  ('apple', 'banana', 'cherry')
Tuple-2 :  ('orange',)
Added tuple-1 and tuple-2 :  ('apple', 'banana', 'cherry', 'orange')

## c. Remove Items
- You cannot remove items in tuple

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

tuple1 = ("apple", "banana", "cherry")
print("Tuple Created : ",tuple)
y = list(tuple1)
print("Tuple converted to the list : ",y)
y.remove("apple")
print("Removed the element from the list : ",y)
tuple1 = tuple(y)
print("Converted list back to tuple : ",tuple1)

## d. del Keyword
- The del keyword can delete the tuple completely

In [ ]:
tuple1 = ("apple", "banana", "cherry")
del tuple1
print(tuple1) #this will raise an error because the tuple no longer exists

# 4. Unpack Tuples
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple

## a. Unpacking a Tuple

In [ ]:
#Packing a tuple
fruits = ("apple", "banana", "cherry")
fruits

In [8]:
#Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

## b. Using Asterisk*
- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [9]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red) #Assign the rest of the values as a list called "red"

apple
banana
['cherry', 'strawberry', 'raspberry']

- If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [10]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic) #Add a list of values the "tropic" variable
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# 5. Join Tuples

## a. Join Two Tuples
- To join / concatenate two or more tuples together
- It returns a new tuple that contains all the elements from the original tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

## b. Multiply Tuples
- If you want to multiply the content of a tuple a given number of times, you can use the * operator

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

## c. tuple() constructor 
- can be used to create a new tuple from an iterable object (like a list or another tuple). 
- It can also be used to create a copy of an existing tuple.

In [ ]:
tuple1 = (1, 2, 3)
list1 = [4, 5, 6]
new_tuple1 = tuple(tuple1)
new_tuple2 = tuple(list1)
print(new_tuple1)  # Output: (1, 2, 3)
print(new_tuple2)  # Output: (4, 5, 6)

 - The tuple() constructor can be used to create a new tuple that contains elements from one or more existing tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = tuple(tuple1 + tuple2)
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6)

### Using extend indirectly to tuples
-  convert the tuples to lists, join them using the extend() method, and then convert the result back to a tuple

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
list1 = list(tuple1)
list2 = list(tuple2)
list1.extend(list2)
new_tuple = tuple(list1)
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6)

# 6. Tuple Methods

# a. index()	
- Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = tuple1.index(8) #Search for the first occurrence of the value 8, and return its position
print(x)

## b. count()	
- Returns the number of times a specified value occurs in a tuple

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5) 
x = tuple1.count(5) #Return the number of times the value 5 appears in the tuple
print(x)