# PYTHON
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
1. Dynamically Typed:-  With Python, No need to declare type of variable the type of the variable can be decided during runtime.
2. Interpreted:-   When a programming language is interpreted, it means that the source code is executed line by line, and not all at once.
3. High-level Language:-  Python is a high-level programming language because programmers donâ€™t need to remember the system architecture, nor do they have to manage the memory.

# Class

1. WHY?  We can mostly use buit in classes and types in standerd libraries are sufficient but if we require custom types we require classes.
2. Define the structure and behaviour of objects. Classes control an objects intial state, attributes and methods

In [1]:
class Flight:
    pass

In [3]:
f = Flight()
type(f)

__main__.Flight

#### instance method
1. Methods are functions within the class
2. Instance methods are functions which can call on objects or instance of a class. instance method must accept a reference to actual instance on which the method is called as the first argument. by convention this argument  is called "self".

In [7]:
class Flight:
    def number(self):
        return "SN06"

f= Flight()
f.number()

'SN06'

In [1]:
class Flight:
    def flightnumber(self):
        return "myno"

In [4]:
myfl = Flight()
myfl.flightnumber()

'myno'

In [1]:
class Animal:
    sound = ""
    # It is called as CONSTRUCTOT. Mainly initiates an object  when called
    #The __init__() function is called automatically every time the class is being used to create a new object.
    def __init__(self, name):
        self.name = name

In [10]:
ani  = Animal('Cat')
ani.sound = "meaw"
ani.sound

'meaw'

In [72]:
# empty python class
class Emptty:
    pass

In [73]:
check = Emptty()
check.nothing = "what"
check.nothing

'what'

In [172]:
#wrong code
class A:
    def __init__(self,s):
        self.s = s
        
    def print(self):
        pass
    
a=A("Jhon")
a.print()

# Decorator

Decorators are functions that takes another function as arguments to modify its behaviour without changing the function itself.
These are useful when we want to dynamically increase the functionality of a function without changing it

In [4]:
!pip install ensure
from ensure import ensure_annotations

Collecting ensure
  Downloading ensure-1.0.3-py3-none-any.whl (15 kB)
Requirement already satisfied: six>=1.11.0 in c:\users\shahamoh\anaconda3\lib\site-packages (from ensure) (1.16.0)
Installing collected packages: ensure
Successfully installed ensure-1.0.3

In [16]:
#Eventhough we have defined the input type and return type we are able to multiply number and get a string returned
def multiplier(x:int,y:int)->int:
    return x*y
print(multiplier(x =2,y = "4"))
#To make sure we only get int output we use a decorater function called ensure_annotation
@ensure_annotations
def multiplier(x:int,y:int)->int:
    return x*y
print(f"{multiplier(x = 2, y=4)} this the original working")
#This wont work as the decorator function make's sure that return value is int
print(f"{multiplier(x=2,y = '4')}")

44
8 this the original working

EnsureError: Argument y of type <class 'str'> to <function multiplier at 0x000001D860A21E50> does not match annotation type <class 'int'>

In [34]:
#defining a function
def smart_divide(func):
    def inner(a,b):
        print("Dividing {} by {}".format(a,b))
        if b == 0:
            print("Make sure denomenator is not Zero")
            return
        return func(a,b)
    return inner

In [35]:
#make sure you use @smart_divide as we are calling decorator
@smart_divide
def divide(a,b):
    return a/b

divide(1,0)

Dividing 1 by 0
Make sure denomenator is not Zero

In [36]:
divide(1,2)

Dividing 1 by 2

0.5

In [11]:
#difference b/w append and extend
ls = [1,2,3]
pm = [1,5,43]
ls.extend(pm)
print(ls)
ls.append(pm)
print(ls)

[1, 2, 3, 1, 5, 43]
[1, 2, 3, 1, 5, 43, [1, 5, 43]]

In [12]:
#adding two tupples
tup1 = (1,4,3,2)
tup2 = (3,2,4,4)
add1 = tup1+tup2
print(add1)

(1, 4, 3, 2, 3, 2, 4, 4)

In [14]:
a=0
b=1
for i in range(1,10):
    c=a+b
    a=b
    b=c
    print(b)

1
2
3
5
8
13
21
34
55

In [1]:
def square(number):
    return number**2

In [3]:
tosquare = [7,6,2]
squarednumber = map(square,tosquare)
squarednumber
#displaying map element with list
list(squarednumber)

[49, 36, 4]

In [9]:
[i for i in squarednumber ]

[49, 36, 4]

In [18]:
type(squarednumber)

map

In [8]:
fibinachi(10)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [10]:
def fibinachi(number):
    a = 0
    b = 1
    d = []
    for i in range(0,number):
        c=a+b
        a=b
        b =c
        d.append(b)
    return d

In [11]:
fibi = map(fibinachi,tosquare)

In [12]:
[x for x in fibi]

[[1, 2, 3, 5, 8, 13, 21], [1, 2, 3, 5, 8, 13], [1, 2]]

In [22]:
fibinachi(10)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [23]:
tup = (1,2,3,4,6,7,4,34,6,7)

In [24]:
type(tup)

tuple

In [13]:
tup = tuple(i for i in range(1,21))
l = []
for i in tup:
    if i%3 == 0:
        l.append(i)

l

[3, 6, 9, 12, 15, 18]

In [14]:
fibnachi = filter(fibinachi,tup)

In [ ]:
for i in fibnachi:
    print(i)

In [16]:
ls = [1,2,3,4,6,7,4,34,6,7]
#[x: lambda x in ls if x%2 == 0]

In [35]:
def f(x): return x % 2 == 0
def m(y): return y +y

list1 = [1,2,3,4]

flist = filter(f, list1)
print(list1)
print(*flist)

mlist = map(m, list1)
print(list1)
print(*mlist)

[1, 2, 3, 4]
2 4
[1, 2, 3, 4]
2 4 6 8

In [17]:
#write a code to find fibinachi seriries with map for a given list

def fibinachi(value):
    a=0
    b=1
    for numb in range(1,value):
        c= a+b
        a=b
        b=c
        #print(b)
    return b

In [21]:
maped = map(fibinachi,ls)

In [22]:
for i in maped:
    print(i)

1
1
2
3
8
13
3
5702887
8
13

In [ ]:
type(maped)

In [23]:
fibinachi(10)

55

In [27]:
for i in range(1,10):
    d= lambda x: (x%3 == 0)
    print(d)

In [38]:
ls = (1,2,3,4,6,7,4,34,6,7)
newtup = tuple(filter(lambda x: x%3==0,ls))

In [39]:
newtup

(3, 6, 6)

In [40]:
ls = [1,2,4,4]
ls.append([1,2,3,45])
ls

[1, 2, 4, 4, [1, 2, 3, 45]]

In [7]:
ls = [1,2,4,4,3,6,8,6,5,4]
f = lambda x: x*3 if x%2==0  else ( x*2 if x%3 == 0 else x)
list(map(f,ls))

[1, 6, 12, 12, 6, 18, 24, 18, 5, 12]

In [ ]:
for i in newtp:
    print(i)

In [ ]:
[x*2 if x%2 == 0 else(x*3 if x%3 ==0 else x) for x in ls]

# Data Frame

In [9]:
import numpy as np
import pandas as pd

In [10]:
frame = pd.DataFrame(np.random.randn(4, 4), columns=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

       Utah      Ohio     Texas    Oregon
0 -0.030136  0.413929  0.896188  0.733255
1  0.905145  0.223036 -1.149026 -1.648352
2  2.068037  2.151773  0.870222 -0.034157
3 -0.767180  0.621346  0.095510  1.613607

In [11]:
#multiplying a constant number for all dataframe
frame.apply(lambda x:x*2)

       Utah      Ohio     Texas    Oregon
0 -0.060272  0.827859  1.792377  1.466509
1  1.810290  0.446073 -2.298053 -3.296704
2  4.136075  4.303545  1.740445 -0.068313
3 -1.534360  1.242691  0.191021  3.227215

In [15]:
#adding/multiplying a constant  number for one column
frame["Utah"] = frame["Utah"].apply(lambda x: x+1)

In [16]:
frame

       Utah      Ohio     Texas    Oregon
0  0.969864  0.413929  0.896188  0.733255
1  1.905145  0.223036 -1.149026 -1.648352
2  3.068037  2.151773  0.870222 -0.034157
3  0.232820  0.621346  0.095510  1.613607

In [77]:
#and condition should be in symbol "&"
nedicct = frame[(frame["Utah"] > 0) & (frame["Utah"] > 0.01)]
nedicct

       Utah      Ohio     Texas    Oregon
0  0.408901 -1.160529 -0.563384 -1.230929

In [19]:
frame[(frame["Utah"] > 0) & (frame["Texas"]<0)]

       Utah      Ohio     Texas    Oregon
1  1.905145  0.223036 -1.149026 -1.648352

In [79]:
#OR condition should be in symbol "|"
nedicct = frame[(frame["Utah"] < 0) | (frame["Utah"] > 0.01)]
nedicct

       Utah      Ohio     Texas    Oregon
0  0.408901 -1.160529 -0.563384 -1.230929
1 -1.083034 -0.957582  1.242754 -1.204479
2 -0.263755  0.905794 -0.139269 -0.066586
3 -0.120252 -0.722335 -0.387372 -0.675620

In [176]:
func = lambda x: "Negative" if x< 0 else "Positive"

In [177]:
frame["Direction"]= frame["Utah"].apply(func)

In [178]:
frame

       Utah      Ohio     Texas    Oregon Direction
0 -1.359597 -0.803234 -0.599676 -0.458459  Negative
1 -1.456532  0.615875 -0.581167 -0.359600  Negative
2  0.447007  1.339392 -0.388996 -0.416820  Positive
3 -2.053267 -1.585975  0.296912 -0.356888  Negative

In [1]:
import numpy as np
matrix = np.random.randn(4,4)

In [2]:
matrix

array([[ 1.36113523,  0.23856674,  0.31626693,  1.24242145],
       [ 1.32798963, -1.09680924,  2.53494371, -0.85273831],
       [-1.247784  , -0.04611934, -0.00571695, -0.99707827],
       [-0.62803498, -0.23338922,  1.8395514 ,  0.37438964]])

In [3]:
for i in matrix: print(i)

[1.36113523 0.23856674 0.31626693 1.24242145]
[ 1.32798963 -1.09680924  2.53494371 -0.85273831]
[-1.247784   -0.04611934 -0.00571695 -0.99707827]
[-0.62803498 -0.23338922  1.8395514   0.37438964]

In [5]:
#Sum of each rows
[sum(x) for x in matrix]

[3.1583903488199083, 1.913385778142306, -2.296698570120441, 1.3525168419531013]

In [4]:

[print(i[0]) for i in matrix]

1.3611352290138543
1.3279896257178159
-1.2477840025714484
-0.6280349816048406

[None, None, None, None]

In [ ]:
matrix[0][0]

In [ ]:
matrix[1][1]

In [9]:
#Sum of all diagonal objects as we use range(0,4) produces 4 values and matrix[i][i] only takes diagonal value
l=0
for i in range(0,matrix.shape[0]):
    l+= matrix[i][i]
print(l)

0.6329986797509287

In [43]:
# finding sum of diagonal elements using lambda function
addi = lambda x:x.diagonal().sum()
addi(matrix)

2.9094458197091018

In [34]:
# finding sum of diagonal elements using numpy.diagonal function
matrix.diagonal().sum()

2.9094458197091018

In [202]:
np.random.rand(4,4).sum()

7.89351818792516

In [122]:
import pandas as pd
df = pd.DataFrame(np.random.rand(4,4), columns=["goog","kook","foof","lool"])

In [62]:
df

       goog      kook      foof      lool
0  0.792676  0.343062  0.190665  0.893214
1  0.573335  0.304048  0.255871  0.558413
2  0.212261  0.249063  0.343538  0.054609
3  0.099553  0.651351  0.933713  0.456928

In [63]:
print(df.keys())
print(df.columns)

Index(['goog', 'kook', 'foof', 'lool'], dtype='object')
Index(['goog', 'kook', 'foof', 'lool'], dtype='object')

In [64]:
df.values

array([[0.79267584, 0.34306195, 0.19066529, 0.89321355],
       [0.57333531, 0.30404768, 0.25587087, 0.55841262],
       [0.2122614 , 0.24906257, 0.34353773, 0.05460857],
       [0.09955279, 0.65135074, 0.93371281, 0.45692778]])

In [65]:
#Sum of columns in a data frame
[sum(df[x]) for x in df.keys()]

[1.6778253435357255,
 1.5475229452976829,
 1.7237867035966108,
 1.9631625148174865]

In [66]:
#sum of raws in df
[sum(i) for i in df.values]

[2.2196166293558086, 1.6916664840070532, 0.8594702687774122, 2.141544125107232]

In [216]:
for i in df.keys():
    print("{} {}".format(df[i].sum(),df[i].max()))

1.9139030775659913 0.8578023319525413
1.309227964185143 0.5922320016132906
3.5728142408512724 0.9976287652869784
2.464724357080156 0.862795704740494

In [94]:
#Calculating sum of values of diagonal elements in a df
l = 0
for i in range(0,4):
    l+=df.values[i][i]
    
l

2.4029271779294294

In [124]:
df['moog'] = df['goog'].apply(lambda x: "Positive" if x>0.75 else("negative" if x>0.7 else "numma"))

In [125]:
df

       goog      kook      foof      lool      moog
0  0.586312  0.407501  0.922496  0.858735     numma
1  0.032355  0.664247  0.414075  0.298737     numma
2  0.420873  0.843273  0.004116  0.253045     numma
3  0.744977  0.810746  0.515054  0.861062  negative

In [69]:
#creating a new column and assigning a constant as a value
df["moor"] = 0
df

       goog      kook      foof      lool      moog  moor
0  0.792676  0.343062  0.190665  0.893214  Positive     0
1  0.573335  0.304048  0.255871  0.558413     numma     0
2  0.212261  0.249063  0.343538  0.054609     numma     0
3  0.099553  0.651351  0.933713  0.456928     numma     0

### Groupby

In [40]:
tp = df.groupby("moog").agg({"foof":['mean','sum']})

In [41]:
tp

              foof
              mean       sum
moog
Positive  0.621292  0.621292
numma     0.344058  1.032174

In [83]:
vb = df.groupby("moog").mean()

In [85]:
vb

              goog      kook      foof      lool  moor
moog
Positive  0.792676  0.343062  0.190665  0.893214   0.0
numma     0.295050  0.401487  0.511040  0.356650   0.0

In [84]:
vb["foof"]

moog
Positive    0.190665
numma       0.511040
Name: foof, dtype: float64

In [135]:
df["proop"] = df["goog"].apply(lambda x: "yes" if x>0.5 else "no")
df

       goog      kook      foof      lool      moog proop
0  0.586312  0.407501  0.922496  0.858735     numma   yes
1  0.032355  0.664247  0.414075  0.298737     numma    no
2  0.420873  0.843273  0.004116  0.253045     numma    no
3  0.744977  0.810746  0.515054  0.861062  negative   yes

In [145]:
#find how many yes,no in numma and yes,no in negative
df.groupby("proop")["moog"].value_counts()

proop  moog
no     numma       2
yes    negative    1
       numma       1
Name: count, dtype: int64

In [95]:
#Initialising a 5x5 array of zeros
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [103]:
import pandas as pd
#creating a dataframe from a list(len of list should be equal)
cars = ["kia","opel","Toyota","maruthi"]
bikes = ["suzuki","hero","honda","KTM"]
df = pd.DataFrame()
df["cars"] = cars
df['Bikes'] = bikes
df

      cars   Bikes
0      kia  suzuki
1     opel    hero
2   Toyota   honda
3  maruthi     KTM

In [104]:
#Adding NaN values to df
df1["cars"][3] = np.NAN
print("with NaN values\n",df1)
#dropping NaN values from df
df1.dropna(inplace=True)
df1

KeyError: 'cars'

In [105]:
# creating pandas data frame from dictionary

dict1 = {"cars": cars , "Bikes": bikes}
df1 = pd.DataFrame(dict1)
df1

      cars   Bikes
0      kia  suzuki
1     opel    hero
2   Toyota   honda
3  maruthi     KTM

In [106]:
df1 = df.copy() 
#Adding NaN values to df
df1["cars"][3]= np.NAN
print("with NaN values\n",df1)
#dropping NaN values from df
df1["cars"].fillna("TATA",inplace=True)
df1

with NaN values
      cars   Bikes
0     kia  suzuki
1    opel    hero
2  Toyota   honda
3     NaN     KTM

     cars   Bikes
0     kia  suzuki
1    opel    hero
2  Toyota   honda
3    TATA     KTM

In [107]:
#accessing first and last elements
print(df1.head(2))
print(df1.tail(2))

   cars   Bikes
0   kia  suzuki
1  opel    hero
     cars  Bikes
2  Toyota  honda
3    TATA    KTM

### loc and iloc
loc and iloc are two methods in PANDAS
- iloc (Integer-based indexing):

Uses positional indexing based on integer locations within the DataFrame. iloc is faster due to its integer based nature

- loc (Label-based indexing):

Uses label-based indexing based on the labels (row or column names) in the DataFrame.Allows selecting rows or columns by their actual labels or boolean conditions.

In [110]:
#accessing by given index and by value in df 
#accessing with boolean conditions as in df1["cars"]== "kia" is only possible with loc 
print(df1.loc[df1['cars']=="kia"])
print(df1.loc[2])
print(df1.iloc[2])

  cars   Bikes
0  kia  suzuki
cars     Toyota
Bikes     honda
Name: 2, dtype: object
cars     Toyota
Bikes     honda
Name: 2, dtype: object

In [117]:
#slicing through a range
df.iloc[0:3]

     cars   Bikes
0     kia  suzuki
1    opel    hero
2  Toyota   honda

In [119]:
#slicing through a range in a specific column/ iloc can be used for same
df["cars"].loc[0:3]

0       kia
1      opel
2    Toyota
Name: cars, dtype: object

In [222]:
#using groupby to check counts of each categories in cars column
print(df.groupby("cars").agg({"Bikes":["count","sum"]}))
print(df.groupby("cars")['Bikes'].count())
print(df.groupby("cars").count())

        Bikes
        count     sum
cars
Toyota      1   honda
kia         1  suzuki
maruthi     1     KTM
opel        1    hero
cars
Toyota     1
kia        1
maruthi    1
opel       1
Name: Bikes, dtype: int64
         Bikes
cars
Toyota       1
kia          1
maruthi      1
opel         1

In [ ]:
#deleting column from dataframe can also use df.remove(["cars"],axis = 1)
del df["cars"]
d

In [ ]:
#dropping entire row based on a certain value
df = df[df.Bikes != "hero"]
df

In [ ]:
df.groupby("cars")['Bikes'].count()

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
import numpy as np
import pandas as pd

In [147]:
df = pd.DataFrame(np.random.rand(3,3),columns = ["cl1","cl2","cl4"])
#Method 1 changing column names
df.columns = ["cl1","cl2","cl3"]
#Method 2 changing column names
df.rename(columns={"cl1":"CL1","cl2":"CL2"},inplace=True)

In [148]:
#usage of iter item
for column,value in df.iteritems():
    print(column,value*3)

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [152]:
df

        CL1       CL2       cl3
0  0.423111  0.614748  0.214529
1  0.495068  0.762683  0.248516
2  0.063726  0.539355  0.682215

In [153]:
for colm, value in df.iterrows():
    print(colm)

0
1
2

In [74]:
#usage of iter row were we iterrow through rows whre you get index and its corresponding row value
for index,value in df.iterrows():
    print(index,"**",value[:3])

0 ** CL1    0.103470
CL2    0.632111
cl3    0.762470
Name: 0, dtype: float64
1 ** CL1    0.937234
CL2    0.792818
cl3    0.122591
Name: 1, dtype: float64
2 ** CL1    0.149763
CL2    0.876105
cl3    0.502433
Name: 2, dtype: float64

In [84]:
df["CL1"][0]=int(1)
df["CL2"][1] = int(2)

In [86]:
# To check if a list of values in dataframe
df[df['CL1'].isin([1,2])]

   CL1       CL2       cl3
0  1.0  0.218072  0.042866

In [90]:
#Aboce case for multiple columns
df[df['CL1'].isin([1,2]) | df["CL2"].isin([2])]

        CL1       CL2       cl3
0  1.000000  0.218072  0.042866
1  0.509699  2.000000  0.017465

In [160]:
#always use isin for extracting exact element for numb/string 
df["cl4"] = df["cl3"].apply(lambda x: "yes" if x<0.5 else "no")
df
print(df[df["cl4"].isin(["yes","no"])])
print(df[df["cl4"] == "yes"])

        CL1       CL2       cl3  cl4
0  0.423111  0.614748  0.214529  yes
1  0.495068  0.762683  0.248516  yes
2  0.063726  0.539355  0.682215   no
        CL1       CL2       cl3  cl4
0  0.423111  0.614748  0.214529  yes
1  0.495068  0.762683  0.248516  yes

In [154]:
#Converting dictionary into dataframe when values in dict are only one Main point is covering values in a list

dic = {"a":2,"b":2,"c":1,"e":1,"d":2}
pd.DataFrame([dic.values()],columns=dic.keys())

   a  b  c  e  d
0  2  2  1  1  2

# Dictionary

In [149]:
#creating dictionary with keyword arguments
newd = dict(a = "me", b = "you", c = "us")
print(newd)

{'a': 'me', 'b': 'you', 'c': 'us'}

In [148]:
# tuple pair inside a list can be converted to dic, in dict things are not stored in any particular order
name_age = [("Shan", 34),("Bob",23),("Mani", 20)]
d = dict(name_age)
print(d)

{'Shan': 34, 'Bob': 23, 'Mani': 20}

In [153]:
# as like list, dictionary copying is shallow ie copying only references to the key and value objects not the object themselves
# copying mainly of two methods, 2nd on is used normaly
dictcopy = newd.copy()
print(dictcopy)
dictcopyusual = dict(newd)
print(dictcopyusual)

{'a': 'me', 'b': 'you', 'c': 'us'}
{'a': 'me', 'b': 'you', 'c': 'us'}

In [156]:
# Adding entries from one dictionary to other
#Call dictt.update() on the dictionary that is to be updated
# If keys is already present in dict new values will be updated

a = dict(a="banana", b = "Apple", c = "cherry")
b = dict(a = "Apple", b = "Banana", d = "Donkey")
a.update(b)
print(a)

{'a': 'Apple', 'b': 'Banana', 'c': 'cherry', 'd': 'Donkey'}

In [158]:
#dict can be iterated 
for val in a:
    print(f"{val}=> {a[val]}")

a=> Apple
b=> Banana
c=> cherry
d=> Donkey

In [159]:
# Only values can be extracted
for val in a.values():
    print(val)

Apple
Banana
cherry
Donkey

In [160]:
# Only key's can be extracted
for key in a.keys():
    print(key)

a
b
c
d

In [161]:
# dict.items() iterate over keys and values in tandem. yields a (key, value) tuple on each iteration
for key,value in a.items():
    print(f"{key}=> {value}")

a=> Apple
b=> Banana
c=> cherry
d=> Donkey

In [167]:
# use "in" operator to see if any anything maches "key"
"b" in a
"c" not in a

False

In [168]:
#deleting key from dict
del a["a"] 
a

{'b': 'Banana', 'c': 'cherry', 'd': 'Donkey'}

In [166]:
# modifying values in a dictionary in case if "value" is a list
ndict = {"a":[1,2,3],
        "b": [2,3,4],
        "c": {3,4,5}}
ndict["a"]+= [4,5]
ndict

{'a': [1, 2, 3, 4, 5], 'b': [2, 3, 4], 'c': {3, 4, 5}}

In [187]:
# Adding some number to values of dict
dic = {"a": 1, "b": 2, "c": 3}
for i in dic.keys():
    dic[i]+=1
dic

{'a': 2, 'b': 3, 'c': 4}

In [172]:
#Adding new items to dict
ndict["d"] = [4,5,6]
ndict

{'a': [1, 2, 3, 4, 5], 'b': [2, 3, 4], 'c': {3, 4, 5}, 'd': [4, 5, 6]}

In [173]:
# Merging two dicts
dict1 = {"bob": 1}
dict2 = {"basith": 2,"shakeel": 3}
dict1.update(dict2)
dict1

{'bob': 1, 'basith': 2, 'shakeel': 3}

In [112]:
set(["a","b","c",5])

{5, 'a', 'b', 'c'}

# STRING

In [86]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [52]:
#common operations of a string
print(len("lennjdnjndjnc"))
print("New"+"Found"+"Land")
s = "New"
s+= "Land"
s+= "Found"
print(s)
# Strings are immutable, we cannot modify them in place

13
NewFoundLand
NewLandFound

In [171]:
#using join and split
colors = ";".join(["red","white","yellow","blue"])
print(colors)
print(colors.split(";"))
# widespread use of join to concatinate collection of strings ('' inside is without space)
# here there is a space in join thet is y space in sentence else sent without space MyName..
print(' '.join(["My", "Name", "Is", "Shahad"]))
" ".join(colors.split(";"))

red;white;yellow;blue
['red', 'white', 'yellow', 'blue']
My Name Is Shahad

'red white yellow blue'

In [187]:
word = "I am a legend"
new_string = ""
for i in word:
    new_string += " ".join(i)
new_string

'I am a legend'

In [173]:
word = "I am a legend"
" ".join(word.split(" "))

'I am a legend'

In [188]:
new_string = ";".join(word)
new_string

'I; ;a;m; ;a; ;l;e;g;e;n;d'

In [72]:
#Using Partistion method
print("Unforgetabele".partition("forget"))
#using as unpacking
departure, seperator,arrival = "calicut:Bangalore".partition(":")
print(departure)
#Above we used a variable to capture special character(:) which we dont need,
#Instaed of that we use "_" to capture dummy values. This helps to suppress unused variables
departure, _,arrival = "calicut:Bangalore".partition(":")
print(_)

('Un', 'forget', 'abele')
calicut
:

String Formating

In [73]:
"The age of {0} is {1}".format("Jim", 32)

'The age of Jim is 32'

In [74]:
"The age of {0} is {1}. {0} is a good guy".format("Jim", 32)

'The age of Jim is 32. Jim is a good guy'

In [75]:
"The age of {} is {}.".format("Jim", 32)

'The age of Jim is 32.'

In [76]:
"The age of {name} is {age}. {name} is a good guy".format(name = "Jim",age= 32)

'The age of Jim is 32. Jim is a good guy'

f string or Literal string interpolation

In [78]:
# Embeded expressions inside literal strings, using a minimal syntax
f"one plus one is {1+1}"

'one plus one is 2'

In [79]:
value = 20*2
f"The value 20 x 2 is {value}"

'The value 20 x 2 is 40'

In [81]:
# using with imported modules,
import datetime
f"The current date and time is {datetime.datetime.now().isoformat()}."

'The current date and time is 2022-11-29T12:46:52.875602.'

In [85]:
import math
print(f"Math constants: pi = {math.pi}, e = {math.e}")
#formating above to only 3 decimal places after .
f"Math constants: pi = {math.pi:.3f}, e = {math.e:.4f}"

Math constants: pi = 3.141592653589793, e = 2.718281828459045

'Math constants: pi = 3.142, e = 2.7183'

In [97]:
#Captitalizing the first letter of string
a = "siscsdn ijsidsidj jisdhisdh jisci"
def converter(sentance):
    b= ""
    for word in a.split():
        b+=word[0].upper()+word[1:]+" "
    return b   
print(converter(a))
#capitalize only capitalises first letter of the string
print(a.capitalize())

[i.title() for i in a.split() ]

Siscsdn Ijsidsidj Jisdhisdh Jisci
Siscsdn ijsidsidj jisdhisdh jisci

['Siscsdn', 'Ijsidsidj', 'Jisdhisdh', 'Jisci']

In [58]:
#replacing space with nothing or user defined charecters
print(a.replace(" ",''))
#Return a copy of the string with leading and trailing whitespace removed.
print(a.strip())

siscsdnijsidsidjjisdhisdhjisci
siscsdn ijsidsidj jisdhisdh jisci

In [100]:
# converting a list of numbers to string
ls = [1,2,3,4,65,7,8]
listnumb  = ",".join(str(numb) for numb in ls)
listnumb

'1,2,3,4,65,7,8'

In [201]:
str(ls).strip("[]")

'1, 2, 3, 4, 65, 7, 8'

In [213]:
a= [1,2,3,4]
l = []
s = ""
p = ""
for i in a:
    l.append(str(i))
    s+=str(i)+ ","   
print(str(l).strip("[],"))
print(s)

'1', '2', '3', '4'
1,2,3,4,

In [227]:
",".join(str(i) for i in a)

's,i,s,c,s,d,n, ,i,j,s,i,d,s,i,d,j, ,j,i,s,d,h,i,s,d,h, ,j,i,s,c,i'

# Range

In [87]:
for i in range(5):
    print(i)

0
1
2
3
4

In [88]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [91]:
#range(start,stop,step)
list(range(0,10,2))

[0, 2, 4, 6, 8]

Enumerate

In [92]:
#Constructs an iterable of (index, value) tuples around another iterable object
t = [3,4,6,3,6,8,4,3]
for p in enumerate(t):
    print(p)

(0, 3)
(1, 4)
(2, 6)
(3, 3)
(4, 6)
(5, 8)
(6, 4)
(7, 3)

In [95]:
for i ,v in enumerate(t):
    print(i,v)

for i,v in enumerate(t):
    print(f"i = {i}, v = {v}")

0 3
1 4
2 6
3 3
4 6
5 8
6 4
7 3
i = 0, v = 3
i = 1, v = 4
i = 2, v = 6
i = 3, v = 3
i = 4, v = 6
i = 5, v = 8
i = 6, v = 4
i = 7, v = 3

# Lists

In [121]:
l = [1,2,4,5,3,6,8,15]
print(l[-1])
print(l[-2])
#instead of access with above method, much more elegent way is shown below
l[len(l)-1]

15
8

15

In [102]:
# slicing Syntax: list[start index:stop index]
print(l[2:4])
print(l[1:-1])
print(l[2:])
print(l[:2])

[4, 5]
[2, 4, 5, 3, 6, 8]
[4, 5, 3, 6, 8, 15]
[1, 2]

In [122]:
s = [l]*2
print(f"s = {s}")
s[1].append(1000)
s

s = [[1, 2, 4, 5, 3, 6, 8, 15], [1, 2, 4, 5, 3, 6, 8, 15]]

[[1, 2, 4, 5, 3, 6, 8, 15, 1000], [1, 2, 4, 5, 3, 6, 8, 15, 1000]]

In [130]:
w = "I am a legend".split()
print(w)
indx = w.index("a")
print(indx)
print(w[indx])

['I', 'am', 'a', 'legent']
2
a

In [133]:
# checking if an element present in list with "in" and "not in"
print(4 in [2,4,6,7,5,4,3,23])
4 not in [2,4,6,7,5,4,3,23]

True

False

In [134]:
# deleting a value by index
w = "I am a legent".split()
print(w)
del w[1]
print(w)

['I', 'am', 'a', 'legent']
['I', 'a', 'legent']

In [135]:
# Deleting a value by name
w.remove("a")
w

['I', 'legent']

In [137]:
# inserting elements to a list by index
w.insert(1,"am")
w

['I', 'am', 'legent']

In [139]:
#joining words from a list by space " "
" ".join(w)

'I am legent'

In [205]:
# reversing and sorting list

newl = [3,4,34,5,3,3,5,6,7,8]
newl.reverse()
print(newl)
# sorting can be done for asending and descending order with reverse = True for descending large to small
newl.sort()
print(newl)

[8, 7, 6, 5, 3, 3, 5, 34, 4, 3]
[3, 3, 3, 4, 5, 5, 6, 7, 8, 34]

In [229]:
newl.reverse()
newl

[34, 8, 7, 6, 5, 5, 4, 3, 3, 3]

In [230]:
# Reversing done by slicing
print(newl)
newl[::-1]

[3, 3, 3, 4, 5, 5, 6, 7, 8, 34]

In [2]:
# inserting a value to index without deleting that value
ls = [1,2,3,4,5,6,7,8,9]
print(ls[6])
ls.insert(6,8)
print(ls)
print(ls[6])

7
[1, 2, 3, 4, 5, 6, 8, 7, 8, 9]
8

In [11]:
print(ls[-1:-4:-1])
print(ls[-1:-4:1])

[9, 8, 7]
[]

In [212]:
#removing duplicates in a list ls by assigning to set
newls = list(set(ls))
print(newls)
#also with dict.keys this method preserves the sequence
newls = list(dict.fromkeys(ls))
print(newls)

[65, 1, 2, 3, 4, 7, 8]
[1, 2, 3, 4, 65, 7, 8]

In [213]:
#Adding values in two lists
a = [1,2,3,4,122,34,7]
b = [3,4,2,4,22,3,6]
[x+y for x,y in zip(a,b)]

[4, 6, 5, 8, 144, 37, 13]

In [214]:
for x,y in zip(a,b):
    print(x,y)

1 3
2 4
3 2
4 4
122 22
34 3
7 6

## 11. Recursion
- Python also accepts function recursion, which means a defined function can call itself.
- ie a function calling itself

In [12]:
#Recursive function Examples
def recursive_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n * recursive_factorial(n-1)  
recursive_factorial(4)

24

In [5]:
def fibinachi1(n):
    if n <=1:
        return n
    else : 
        return (fibinachi1(n-1)+fibinachi1(n-2))
for i in range(1,10):
    print(fibinachi1(i))

1
1
2
3
5
8
13
21
34

In [4]:
fibinachi1(3)

2

In [105]:
# how to reverse a list using reversed method
print(ls)
rev = list(reversed(ls))
rev

[1, 2, 3, 4, 65, 7, 8]

[8, 7, 65, 4, 3, 2, 1]

In [103]:
#reversing matrix with reversed method
import numpy as np
matrix = np.random.rand(4,4)
list(reversed(matrix))

[array([0.67063993, 0.07215737, 0.3618718 , 0.10233408]),
 array([0.19247793, 0.64910498, 0.74231676, 0.26746842]),
 array([0.50129383, 0.44147713, 0.66349435, 0.75200741]),
 array([0.84979123, 0.74353959, 0.22588192, 0.23972271])]

In [33]:
#using pass in a for loop
for i in ls:
    if i==6 :
        pass
    else:
        print(i)

1
2
3
4
5
8
7
7
7

In [65]:
# how to use enumerate to access value and index 
for index,value in enumerate(ls):
    print(index,value)

0 1
1 2
2 3
3 4
4 5
5 6
6 8
7 7
8 7
9 7

In [5]:
# Random shuffling a list
from random import shuffle
newls = ["You", "Will", "Never", "Walk", "Alone"]
shuffle(newls)
newls

['Never', 'Alone', 'You', 'Will', 'Walk']

In [6]:
#tricky multiplication
l1 = [1,2,3,4,5]
l1*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# TUPLE
1. A tuple is a collection of objects which- is ordered and immutable. Tuples are sequences, just like lists. 
2. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [5]:
#Tuple can have multiple data types 
tup = (2,2.3,"India")

In [6]:
#Tuple can be iterated
for i in tup:
    print(i)

2
2.3
India

In [7]:
len(tup)

3

In [8]:
#can be accessed by index
tup[1]

2.3

In [10]:

print(tup + (1,2,3))
tup*2

(2, 2.3, 'India', 1, 2, 3)

(2, 2.3, 'India', 2, 2.3, 'India')

In [23]:
#atleast two elements should be there to be tuple
notup = (124)
print(notup, "  Type:" ,type(notup))
#to consider one element as a tuple we will have to add a trailing comma
ystup = (124,)
print(ystup, "  Type:",type(ystup))

#defining empty tuple
emptup = ()
print(type(emptup))

124   Type: <class 'int'>
(124,)   Type: <class 'tuple'>
<class 'tuple'>

In [27]:
#Finding min and max in a tuple
tup = (1,3,5,55,6,3,4)
print(min(tup))
print(max(tup))

1
55

In [29]:
#tuple unpacking
minval,maxval = min(tup),max(tup)
minval

1

In [32]:
(a,(b,(c,d))) = (1,(2,(3,4)))
a

1

In [35]:
#Swapping values
a = "apple"
b = "banana"
a,b = b,a
print(a)
print(b)

banana
apple

In [40]:
print(tuple([12233]))
print(tuple([22,3,4,64,3,45]))
print(tuple("appple"))

(12233,)
(22, 3, 4, 64, 3, 45)
('a', 'p', 'p', 'p', 'l', 'e')

In [47]:
#testing containment of a value by "in" operator. works for both int and str
print(3 in tup)
print(4 not in tup)
print("l" in tuple("tuple"))
print("n" not in tuple("tuple"))

True
False
True
True

## Lambda Function

In [74]:
#using lambda instead of a function
multiplier = lambda x,y: x*y
multiplier(10,10)

100

In [101]:
#finding sum with lambda function from a list
su = lambda x: sum(x)
su(ls)

50

In [232]:
# converting list elements to string using lambda function
l = [1,2,3,4]
new2 = ""
f = lambda x :   str(x) 
print(*map(f,l))

1 2 3 4

In [107]:
#stacking multiple lists for a 2D array
arr1 = np.array([2,3,5,3,4])
np.vstack((arr1,arr1,arr1))

array([[2, 3, 5, 3, 4],
       [2, 3, 5, 3, 4],
       [2, 3, 5, 3, 4]])

In [110]:
df['cars'].isnull().mean()*100

0.0

Explain file processing modes python supports

    1) Read only
    2) write only
    3) read- write
    4) append

In [66]:
# Deleting a file from python from its local directory
import os
#os.remove(filename)
#os.unlink(filename)

# SETS

In [217]:
#Set is unordered collection of unique elements.
# They are mutable ie elements can be added and removed
# elements will be unique values
p = {1,3,4,6,3}
print(p)
type(p)

{1, 3, 4, 6}

set

In [218]:
#empty set can be created as follows
q = set()
q

set()

In [220]:
# set can be created from list
#Duplicates are removed 
s = set([1,2,3,45,2,34,1,1])
s

{1, 2, 3, 34, 45}

In [223]:
#Set are iterable
for i in s:
    print(i)

1
2
3
34
45

In [2]:
# checking for a value with "in" and "not in" operators
print(5 in {1,2,3,4})
print(3 not in {1,2,3,4})

False
False

In [7]:
# Adding an element to the set
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [9]:
#Multiple elements can be added in a go using list
s.update([7,8,9])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# Two methods to remove elements from a set
# 1) using "remove", here if removing value/elemnent is not present error will occur
s.remove(3)
print(s)
#2) using "discard", if if element not present no error occurs
s.discard(3)
print(s)

{1, 2, 4, 7, 8, 9}
{1, 2, 4, 7, 8, 9}

In [14]:
#shalow copying an set
t = s.copy()
t = set(s)
t,s

({1, 2, 4, 7, 8, 9}, {1, 2, 4, 7, 8, 9})

In [22]:
# Common attributes and functions for which we use sets
s = {1,2,3,4,5,6}
p = {5,6,7,8,9}
print(f"union: {s.union(p)}")
print(f"intersection: {s.intersection(p)}")
print(f"difference: {s.difference(p)}") # here difference for both sets will be different
print(f"symmetric difference: {s.symmetric_difference(p)}") #collects objects which is in one set and not in other from both set
print(f"checking if one set is subset of another: {s.issubset(p)}")
print(f"Checking if superset: {s.issuperset(p)}")

union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection: {5, 6}
difference: {1, 2, 3, 4}
symmetric difference: {1, 2, 3, 4, 7, 8, 9}
checking if one set is subset of another: False
Checking if superset: False

In [84]:
# finding common elements from two set
set1 = {1,2,3,4,5}
set2 = {1,6,5,4}
set1.intersection(set2)

{1, 4, 5}

In [90]:
# different elements from set1
set1-set2

{2, 3}

In [115]:
#Set elements can be string integer or float without any order to it.
#only unique elements will be in a set

set(["a", 2,2.4])

{2, 2.4, 'a'}

In [117]:
# How many unique charecters are there in a string
a = "i am a legend"
len(set(a))

9

In [121]:
#unique numbers in a list
ls = [1,4,3,3,4,5,6,3,4]
print(set(ls))
len(set(ls))

{1, 3, 4, 5, 6}

5

### Iterable
1) Yields item one by one as they are requested.
2) They can be used in for loops

# Exception Handling

Mechanism for inturepting normal program flow and continuing in surrounding context

Key Concepts
1. Raising an exception
2. Handling an exception
3. Unhandling exception
4. Exception objects

Common types of Errors
1. Value Error
2. Key error
3. Type Error
4. Attribute Error

Program error are not captured by exception. like Syntax error, intendation error etc..

In [42]:
DIGIT_MAP = {
    "zero":'0',
    "one":'1',
    "two":'2',
    "three":'3',
    "four":'4',
    "five":'5',
    "six":'6',
    "seven":'7',
    "eight":'8',
    "nine":'9'
}

In [84]:
#Below function is to showcase how a typical try except block works
# Here only KeyError is captured, if we put int value instead of str which will show AttributeError is solved after this example
def converter(s):
    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        x = int(number)
        print(f"convertion succeded: x = {x}")
        
    except KeyError:
        print("Convertion failed")
        x = -1
    return x

In [87]:
converter("two one")

two
one
convertion succeded: x = 21

21

In [49]:
# this to show AttributeError
converter(34)

AttributeError: 'int' object has no attribute 'split'

In [52]:
# Here AttributeError is handled, but this is a primitive method. normal after this example
def converter(s):
    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        x = int(number)
        print(f"convertion succeded: x = {x}")
        
    except KeyError:
        print("Convertion failed")
        x = -1
    except AttributeError:
        print("Convertion failed")
        x = -1        
        
    return x

In [53]:
converter(34)

Convertion failed

-1

In [54]:
def converter(s):
    x = -1
    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        x = int(number)
        print(f"convertion succeded: x = {x}")
        
    except (KeyError, AttributeError) :
        print("Convertion failed")
      
        
    return x

In [55]:
converter(34)

Convertion failed

-1

#### pass
Pass is a special keyword which presicely does nothing ie NO OP
1. main function is to create syntactically permisible block that are symantically empty

In [ ]:
# Using "PASS" keyword in a "except" block
# 
def converter(s):
    x = -1
    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        x = int(number)
        print(f"convertion succeded: x = {x}")
        
    except (KeyError, AttributeError) :
        pass
      
        
    return x

In [70]:
# Accessing exception object ie saving/printing for interogating more details
import sys
def converter(s):

    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        return int(number)
        print(f"convertion succeded: x = {x}")
        
    except (KeyError, AttributeError) as e :
        print(f"Conversion error: {e!r}",file = sys.stderr)
        
        return -1

In [71]:
converter(12)

Conversion error: AttributeError("'int' object has no attribute 'split'")

-1

In [72]:
# Raising an error on the exception block. here we are calling this function inside a different function
# "Raise" re raises the exeption currently handled 
import sys
def converter(s):

    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
        return int(number)
        print(f"convertion succeded: x = {x}")
        
    except (KeyError, AttributeError) as e :
        print(f"Conversion error: {e!r}",file = sys.stderr)
        
        raise

In [74]:
# If we are not raising a exception on the above block we wont be able to catch the proper error in later codes
from math import log
def string_log(s):
    v= converter(s)
    return log(v)

In [75]:
string_log("one two")

one
two

2.4849066497880004

In [76]:
# Raise will raise an exception as below # shows attribute error
string_log(12)

Conversion error: AttributeError("'int' object has no attribute 'split'")

AttributeError: 'int' object has no attribute 'split'

In [77]:
# Shows the key error
string_log("dog cat")

dog

Conversion error: KeyError('dog')

KeyError: 'dog'

In [ ]:
# "try" and "finally" block

"""
try:
    try block
    
finally:
    Executes no matter how try block terminates
"""

In [82]:
# Example for try except and finally
# Finally block will run in all circumstances
import sys
def converter(s):

    try:
        number = ''
        for token in s.split():
            print(token)
            number += DIGIT_MAP[token]
            
        return int(number)
        
        
    except (KeyError, AttributeError) as e :
        print(f"Conversion error: {e!r}",file = sys.stderr)
        
        return -1
    finally:
        print("If conversion succeded you will see result as an integer")

In [83]:
converter("one two three")

one
two
three
If conversion succeded you will see result as an integer

123

# Iteration and Iterables

1. An object from which we can fetch a sequence of other objects is called Iterables. 
2. Active fectching sequence from a iterable is know as iteration  Eg.. next(),Iter(),for loop
3. Iterables:- can be passed to iter() to produce an iterator such as list or other collection of objects
4. Iterator:- Can be passed to next() function to get next value in the sequence.

In [248]:
# Iteration Protocol

#Exapmple of creating iterables and iterator
iterable = ["Spring", "Summer", "Autumn", "Winter"]
iterator = iter(iterable)
next(iterator)

'Spring'

In [251]:
next(iterator)

'Winter'

In [252]:
#When we raech end of iterables python raises an StopIteration exception
next(iterator)

StopIteration:

In [2]:
#Stopping iteration with an exceprtion
# More concrete used case to catch StopIteration Exception
# Fuction is to first return elements from list or sets. if list is empty raises a value error
def first(iterable):
    iterator = iter(iterable)
    try:
        return next(iterator)
    except StopIteration:
        raise ValueError ("iterable is empty")
    

print(first([1,2,3,4]))
print(first({1,2,3,4}))
#This is to show ValueError when an empty set is the input
print(first(set()))

1
1

ValueError: iterable is empty

#### Generators
1. Generators are ITERABLES defined by FUNCTIONS
2. Can model sequence without no definite end
3. Generators are python functions which uses YIELD key word atleast once in their definition.
4. They may also contain return key word with no arguments
5. properties: - Generators are lazy such that computation only happens just in time when next value is requested ie generators only do enough work to produce requested data.
6. Above property allows generators to model infinite or large sequence of data. eg:- Mathematical sequences, Sensor reading etc

In [2]:
#Example for a generator
def gen123():
    #Using yield atleast once
    print("About to yield 1")
    yield 1
    print("About to yield 2")
    yield 2
    print("About to yield 3")
    yield 3
    print("About to return")
# We can call it just like any other python function by Assigning to a variable
g = gen123()
#Returns a generator object which is also python iterator
print(g)
# As they are iterators we can retrieve succesive values through next()
print(next(g))
print(next(g))
print(next(g))
# this shows after end of yield, error stopiteration is produced
print(next(g))

<generator object gen123 at 0x00000204434C6A40>
About to yield 1
1
About to yield 2
2
About to yield 3
3
About to return

StopIteration:

In [11]:

#end of the sequence arises with a StopIteration error
print(next(g))

About to return

StopIteration:

In [5]:
# Generators can be iterated through a for loop
for i in gen123():
    print(i)

1
2
3

In [7]:
# Here both h and g will be different object and can be called seperately
h = gen123()
g = gen123()
h is g

False

In [ ]:
# Example of an infinite series with generator
# Dont run yields an infinite series

def lucas():
    yield 2
    a=2
    b=1
    while True:
        yield b
        a,b = b,a+b
for i in lucas():
    print(i)

In [13]:
#Generator EXpressions / Comprehensions
million_square = (x*x for x in range(1,1000001))
list(million_square)[:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#Repeating the above expression creates a empty list
list(million_square)[:10]
#To create a generator from a generator expression we muct execute the expression again

[]

In [16]:
# Computes sum of first 10 million sqaures using sum function
#Here memory usage will be insignificant/minimum ie better than list comprehension
sum(x*x for x in range(1,10000001))

333333383333335000000

In [19]:
#Computing sum of prime until 1000
sum(x for x in range(1001) if is_prime(x))

76127

In [20]:
# Applications of "all" and "any"
#Any any of the value should be True
any(is_prime(x) for x in range(1328, 1361))

False

In [22]:
#all of the outputs should be true
all(is_prime(x) for x in [2,3,5])

True

#### zip
1. synchronised iteration accross two or more iterables

In [25]:
#Example
#Even if the lengths of list are not same this will work to last of least lenghth of list
sunday = [1,2,3,4,5]
monday = [6,7,8,9,10]
for item in zip(sunday,monday):
    print(item)

(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)

In [26]:
for sun,mon in zip(sunday,monday):
    print("Average =",(sun+mon)/2)

Average = 3.5
Average = 4.5
Average = 5.5
Average = 6.5
Average = 7.5

In [31]:
#zipping 3 lists
tuesday = [11,12,13,14,15]

for temps in zip(sunday,monday,tuesday):
    print(f"min={min(temps):4.1f}, max{max(temps):4.1f}, average{sum(temps) / len(temps):4.2f}")

min= 1.0, max11.0, average6.00
min= 2.0, max12.0, average7.00
min= 3.0, max13.0, average8.00
min= 4.0, max14.0, average9.00
min= 5.0, max15.0, average10.00

In [33]:
from itertools import chain
#Using "chain"
all_temps = chain(sunday,monday,tuesday)
all(t>0 for t in all_temps)

True

In [3]:
#Creating a dictionary with two tuples using zip method
a = dict(zip(("a","b","c"),(1,2,3)))
print(a)

{'a': 1, 'b': 2, 'c': 3}

#### Comprehensions
Concise syntax for describing LISTS, SETS and DICTIONARIES.

[expr(item) for item in iterable]

In [136]:
#List Comprehension
# Here first letter of each word is capitalised
sentence = "All are equal in vertue"
[word.title() for word in sentence.split()]

['All', 'Are', 'Equal', 'In', 'Vertue']

In [152]:
# finding factorial of length of each words
from math import factorial
f = [factorial(len(word)) for word in sentence.split()]
print(f)
# after list comprehension we will get a list
print(type(f))

[6, 6, 120, 2, 720]
<class 'list'>

In [150]:
#Finding length of numbers after point
a = [12.33, 13.443, 15.555]
for i in a:
    print(len(str(i).split(".")[1]))
    
[len(str(i).split(".")[1]) for i  in a]

2
3
3

[2, 3, 3]

In [4]:
# matching equal index in two list with list comprehension
l1 = [1,2,3,4,5]
l2 = ["a","b","c","d","e"]
[(l1[i],l2[y]) for i in range(len(l1)) for y in range(len(l2)) if i == y]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [6]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [156]:
#SET COMPREHENSION
s = {i for i in range(1,10)}
print(s)
# Taking words length but only unique word length
se = {len(str(word)) for word in sentence.split()}
print(se)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5, 6}

In [167]:
# DICTIONARY Comprehension
# Changing keys of one dict to value of other dict
from pprint import pprint as pp
country_to_capital = {"united kingdom": "london", "Brazil": "Brazilia", "Moroco": "Rabat", "Sweden":"Stockholm"}
capital_to_country = {capital:country for country, capital in country_to_capital.items()}
pp(capital_to_country)

{'Brazilia': 'Brazil',
 'Rabat': 'Moroco',
 'Stockholm': 'Sweden',
 'london': 'united kingdom'}

In [171]:
# Each words first letter and the word
{word[0]: word for word in sentence.split()}

{'A': 'All', 'a': 'are', 'e': 'equal', 'i': 'in', 'v': 'vertue'}

In [14]:
#Filtering Comprehension

#Finding prime numbers for a range of values
from math import sqrt
def is_prime(x):
    if x<2:
        return False
    for i in range(2,int(sqrt(x))+1):
        if x % i == 0:
            return False
    return True
[x for x in range(51) if is_prime(x)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [244]:
# This example is to showcase dictionary filtering 
prime_square_devisor = {x*x: (1,x,x*x) for x in range(20) if is_prime(x)}
pp(prime_square_devisor)

{4: (1, 2, 4),
 9: (1, 3, 9),
 25: (1, 5, 25),
 49: (1, 7, 49),
 121: (1, 11, 121),
 169: (1, 13, 169),
 289: (1, 17, 289),
 361: (1, 19, 361)}

In [91]:
# This is an example of Dictionary comprehension where looping through each word, Only displays unique key so no Hi and Hello
words = ["Hi", "Hello", "Foxtrot", "Hotel", "Me","Fox"]
{x[0]: x for x in words}

{'H': 'Hotel', 'F': 'Fox', 'M': 'Me'}

In [15]:
import random
random.sample(range(1,50),15)

[25, 34, 6, 41, 23, 13, 28, 30, 29, 38, 31, 9, 35, 18, 2]

In [94]:
random.sample([i for i in range(50)],15)

[12, 17, 24, 1, 11, 29, 14, 36, 19, 28, 31, 41, 38, 26, 7]

In [104]:
def lucas():
    yield 2
    a=2
    b = 1
    while True:
        yield b
        a,b = b ,a+b

In [100]:
next(lucas())

2

In [101]:
next(lucas())

2

In [108]:
sum(x*x for x in range(1,100))

328350

In [109]:
x = ["me","you", "us"]

In [114]:
# Makes first letter upper case
for i in x:
    print(i.title())

Me
You
Us

In [113]:
all(name == name.title() for name in ["me","you", "us"])

False

In [121]:
for i in zip(x,x):
    print(i)

('me', 'me')
('you', 'you')
('us', 'us')

In [122]:
p = iter(x)

In [126]:
next(p)

StopIteration:

In [100]:
#Logic for paliandrom
def ispalindrom(number):
    if str(number) == str(number)[::-1]:
        print(number, "is paliandrom")
    else:
        print(number, "not a paliandrom" )

In [123]:
ispalindrom(123321)

123321 is paliandrom

In [124]:
#alternative method for paliandrom
def numbpal(number):
    temp = number
    rev = 0
    
    while(number>0):
        dig = number%10
        #print(dig)
        rev = rev * 10 + dig
        #print(rev)
        number = number//10
    if (temp == rev):
        print(temp, "is paliandrom")
    else:
        print(temp, "not a paliandrom")

In [125]:
numbpal(121)

121 is paliandrom

In [138]:
def pattern(numb):
    for i in range(numb+1):
        print((str(i)+ " ")*i)

In [139]:
pattern(8)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [143]:
def pattern1(numb):
    for i in range(numb+1):
        print(("#"+ " ")*i)

In [145]:
pattern1(5)

#
# #
# # #
# # # #
# # # # #

In [160]:
def pattern2(numb):
    for i in range(0,numb+1):
        string = ""
        for j in range(0,i+1):
            string += str(j) + " "
        print(string)

In [161]:
pattern2(5)

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [1]:
#Triangle starting from centre
def pattern(numb):
    gap = numb
    for i in range(numb+1):
        
        #gap2 = int((numb)/2-1)

        print(" " * (gap)+ "* " * (i))

        gap=gap-1
pattern(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [164]:
#Ascii values for A
chr(65)

'A'

In [163]:
chr(66)

'B'

In [ ]:
#laoding data

In [ ]:
#importing libraries
import panda

In [ ]:
cnn =models.sequential()
layers.conv2d(fil=32,kernal=(3x3),inputshape=(128X128),activation = "ReLu")
layers.maxpoolinglayer

layers.flatten()
layers.Dense(64,activationfuv= "relu")


layer.Dense(3, Activa = "Softmax")

o 1 0

In [ ]:
[[ 18(TP), 3(FP)],

[2(FN), 1(TN)]]

In [223]:
s = ["h","e","l","l","o"]
s[::-1]
l = []
for i in range(len(s)):
    l.append(s[len(s)-(i+1)])
    
print(l)

['o', 'l', 'l', 'e', 'h']

In [228]:
s = ["h","e","l","l","o"]
for i in range(len(s)//2):
    print(s)
    s[i],s[len(s)-(i+1)] = s[len(s)-(i+1)],s[i]
    
print(s)

['h', 'e', 'l', 'l', 'o']
['o', 'e', 'l', 'l', 'h']
['o', 'l', 'l', 'e', 'h']

In [ ]:
a,b = b,a

In [ ]:
s[0],s[4] = s[4],s[0]

In [20]:
l = []
for number in range(1,100):
    if number > 1:
        for i in range(2,int(number/2)+1):
            if number % i == 0:
                break

        else:
            print(number, "number is prime")

2 number is prime
3 number is prime
5 number is prime
7 number is prime
11 number is prime
13 number is prime
17 number is prime
19 number is prime
23 number is prime
29 number is prime
31 number is prime
37 number is prime
41 number is prime
43 number is prime
47 number is prime
53 number is prime
59 number is prime
61 number is prime
67 number is prime
71 number is prime
73 number is prime
79 number is prime
83 number is prime
89 number is prime
97 number is prime

In [ ]:
l = ['t','e','h','w']

In [114]:
 
def reversematrix(matrix):
    matrix2 = []
    for i in range(len(matrix)):
        matrix2.append(matrix[i][::-1])
    return matrix2

In [115]:
reversematx = reversematrix([[1,2,3,4],[5,3,6,7]])

In [116]:
reversematx

[[4, 3, 2, 1], [7, 6, 3, 5]]

In [11]:
# finding armstrong number
number = int(input("Enter a number : "))
temp = number
fullsum = 0
while temp > 0:
    reminder = temp % 10
    fullsum += reminder**3
    temp//=10
    
if fullsum == number:
    print("{} is an armstrong number".format(number))
else:
    print("{} is not an armstrong number".format(number))

Enter a number : 407
407 is an armstrong number

In [15]:
for number in range(0,500):
    temp = number
    allsum = 0
    while temp > 0:

        reminder = temp%10
        allsum += reminder**3
        temp //= 10
    if number == allsum:
        print('{} is an armstrong number'.format(number))

0 is an armstrong number
1 is an armstrong number
153 is an armstrong number
370 is an armstrong number
371 is an armstrong number
407 is an armstrong number

In [33]:
# finding perfect number
number = int(input("Enter a number : "))
divisor = []
for val in range(1,(number+2)//2):
    if number%val == 0:
        divisor.append(val)
if sum(divisor) == number:
    print("{} is a perfect number".format(number))
else:
    print("{} is not a perfect number".format(number))

Enter a number : 28
28 is a perfect number

In [38]:
#second largest number in a list
unsort = [3,2,4,5]
unsort.sort()
unsort[-2]

4

In [266]:
mat = np.random.rand(3,4)

In [268]:
mat

array([[0.15083067, 0.7691465 , 0.82916   , 0.09388171],
       [0.54307028, 0.45597458, 0.74358637, 0.39657529],
       [0.47338101, 0.47631758, 0.82208678, 0.9774105 ]])

In [267]:
mat.T

array([[0.15083067, 0.54307028, 0.47338101],
       [0.7691465 , 0.45597458, 0.47631758],
       [0.82916   , 0.74358637, 0.82208678],
       [0.09388171, 0.39657529, 0.9774105 ]])

In [24]:
#sorting algorith
def sorter(lis):
    for i in range(len(lis)):
        for j in range(len(lis)):
            if lis[i] < lis[j]:
                lis[i],lis[j]=lis[j],lis[i]
    return lis
sorter([1,5,6,7,8,999,34])

[1, 5, 6, 7, 8, 34, 999]

In [3]:
#Write a function to take the input a list. . example: [1,10,3,3,7,8,8,9]. The function should return a sorted list with no duplicates. The count of duplicate elements removed should also be returned.
def sorter(ls):
    ls.sort()
    unq = set(ls)
    dic = {i:ls.count(i) for i in ls if ls.count(i)>1}
    return list(unq),dic
ls = [1,10,3,3,7,8,8,9]
sorter(ls)

([1, 3, 7, 8, 9, 10], {3: 2, 8: 2})

In [22]:
# Sorting algorith can use for both ascending and descending 
a = [10,9,8,7,6,5,11,1]

for i in range(len(a)):
    minimum = i
    for j in range(i+1,len(a)):
        if a[minimum] > a[j]:
            minimum = j
           
    a[i],a[minimum] = a[minimum],a[i]

In [23]:
a

[1, 5, 6, 7, 8, 9, 10, 11]

In [25]:
#String counter, counting each letter in a string
st = "aabbcdde"
cnt = {}
for i in range(len(st)):
    if st[i] in cnt.keys():
        cnt[st[i]] +=1
    else:
        cnt[st[i]] = 1
    
cnt

{'a': 2, 'b': 2, 'c': 1, 'd': 2, 'e': 1}

In [303]:
import pandas as pd
import numpy as np

In [304]:
data = pd.read_csv("C:/Users/SHAHAMOH/Downloads/archive/CarPrice_Assignment.csv")

In [305]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [314]:
data.shape

(205, 25)

In [306]:
data.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [308]:
price = data.price

In [309]:
price

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [310]:
data.drop("price",axis=1,inplace=True)

In [312]:
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg'],
      dtype='object')

In [ ]:
data['enginelocation'].hist

In [327]:
dummy_data = pd.get_dummies(data)

In [328]:
dummy_data

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,0,0,0,0,0,1,0,0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,0,0,0,0,0,1,0,0
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,0,0,0,0,1,0,0,0,0
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0

In [315]:
from sklearn.preprocessing import OneHotEncoder

In [321]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [329]:
x_train,x_test,y_train,t_test = train_test_split(dummy_data,price,test_size=0.20)

In [330]:
x_train

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
186,187,2,97.3,171.7,65.5,55.7,2275,109,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
148,149,0,96.9,173.6,65.4,54.9,2420,108,3.62,2.64,...,0,0,0,1,0,0,0,0,0,0
81,82,3,96.3,173.0,65.4,49.4,2328,122,3.35,3.46,...,0,0,0,1,0,0,0,0,0,0
18,19,2,88.4,141.1,60.3,53.2,1488,61,2.91,3.03,...,0,0,0,1,0,0,0,0,0,0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,104,0,100.4,184.6,66.5,55.1,3060,181,3.43,3.27,...,0,0,0,0,0,0,0,1,0,0
41,42,0,96.5,175.4,65.2,54.1,2465,110,3.15,3.58,...,0,0,0,0,0,0,0,1,0,0
15,16,0,103.5,189.0,66.9,55.7,3230,209,3.62,3.39,...,0,0,0,0,0,0,0,1,0,0
89,90,1,94.5,165.3,63.8,54.5,1889,97,3.15,3.29,...,0,0,0,1,0,0,0,0,0,0
198,199,-2,104.3,188.8,67.2,56.2,3045,130,3.62,3.15,...,0,0,0,0,0,0,0,1,0,0

In [331]:
reg = LinearRegression()

In [332]:
reg.fit(x_train,y_train)

LinearRegression()

In [334]:
print(reg.score(x_test,t_test))

-0.755305033322972

In [342]:
reg.predict(x_test[:1])

array([12266.16052863])

In [343]:
t_test[:1]

143    9960.0
Name: price, dtype: float64

In [336]:
x_test[:1]

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
143,144,0,97.2,172.0,65.4,52.5,2340,108,3.62,2.64,...,0,0,0,0,0,0,0,1,0,0

In [341]:
t_test[:1]

143    9960.0
Name: price, dtype: float64

## ASCII Conversion

In [2]:
ord("a")

97

In [31]:
#using assert method
#used to continue the execute if the given condition evaluates to True
a= 4
b= 1
assert(b>a)

AssertionError:

In [87]:
#Here it has excecuted without assertion error
assert(a>b)

In [32]:
def addd(a,b):
    assert(a>b)
    assert(b>a)
    print(a/b)
addd(4,0)

AssertionError:

## Regex

#### Function	Description
- findall:-	Returns a list containing all matches
- search:-	Returns a Match object if there is a match anywhere in the string
- split:-	Returns a list where the string has been split at each match
- sub:-	Replaces one or many matches with a string

#### Character	Description	Example	
[]	A set of characters	"[a-m]"	
\	Signals a special sequence (can also be used to escape special characters)	"\d"	
.	Any character (except newline character)	"he..o"	
^	Starts with	"^hello"	
$	Ends with	"planet$"	
*	Zero or more occurrences	"he.*o"	
+	One or more occurrences	"he.+o"	
?	Zero or one occurrences	"he.?o"	
{}	Exactly the specified number of occurrences	"he.{2}o"	
|	Either or	"falls|stays"	
()	Capture and group

Character	Description	Example
\A	Returns a match if the specified characters are at the beginning of the string	"\AThe"	
\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"

r"ain\b"	

\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"

r"ain\B"	

\d	Returns a match where the string contains digits (numbers from 0-9)	"\d"	
\D	Returns a match where the string DOES NOT contain digits	"\D"	
\s	Returns a match where the string contains a white space character	"\s"	
\S	Returns a match where the string DOES NOT contain a white space character	"\S"	
\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	
\W	Returns a match where the string DOES NOT contain any word characters	"\W"	
\Z	Returns a match if the specified characters are at the end of the string

#### findal function
- The list contains the matches in the order they are found. If no matches are found, an empty list is returned:

In [16]:
re.findall("a",stri)

['a', 'a']

#### Search function
- The search() function searches the string for a match, and returns a Match object if there is a match. If there is more than one match, only the first occurrence of the match will be returned:If no matches are found, the value None is returned:

- .span() returns a tuple containing the start-, and end positions of the match.
- .string returns the string passed into the function
- .group() returns the part of the string where there was a match

In [17]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [23]:
txt = "My name is Shahad"
res = re.search("Shahad",txt)
print(f"Span prints the start and end of word matched {res.span()}")
print(f"start prints starting of word matched {res.start()}")

Span prints the start and end of word matched (11, 17)
start prints starting of word matched 11

In [80]:
#The regular expression looks for first occurance words that starts with an upper case "S":
txt = "The rainS in Spain iS Spanish Rain"
res = re.search(r"\bS\w+",txt)

res.span()

(13, 18)

In [78]:
#The regular expression looks for first occurance index that end with "S"  
txt = "The rainS in Spain iS Spanish Rain"
res = re.search(r"S\b",txt)
print(res.group())

S

In [81]:
#Print the part of the string where there was a match.
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

#### Split function
- The split() function returns a list where the string has been split at each match. You can control the number of occurrences by specifying the maxsplit parameter:

In [24]:
#Split at each white-space character:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [26]:
#here we are splitting only first occurance
txt = "All are equal"
x=re.split("a",txt,1)
print(x)

['All ', 're equal']

#### Sub function
- The sub() function replaces the matches with the text of your choice, You can control the number of replacements by specifying the count parameter:

In [27]:
txt = "I am best @ deep learning"
res = re.sub("@","at",txt)
print(res)

I am best at deep learning

In [33]:
# re.subn()  provides a count of the number of replacements that it has done.
txt = "I am best @ deep learning"
res = re.subn("@","at",txt)
print(res)

('I am best at deep learning', 1)

In [2]:
#Renamimg a single character
import re
stri = "I am a Legend 4"
re.sub("a"," ",stri)

'I  m   Legend 4'

In [3]:
# Finding index of a string sibstituted by regex
st = "Shahad"
sub = re.sub("a", "#", st)
print(sub)
print(sub.find("#"))

Sh#h#d
2

In [13]:
#Search the string to see if it starts with "The" and ends with "Spain":
import re
stri = "The pirates of country Spain"
re.search("^The.*Spain$",stri).span()

(0, 28)

## Using dictionary as df with box library

In [1]:
from box import ConfigBox
dic = ConfigBox({"Key1":"2","Key2": 3})
dic.Key1

'2'